In [29]:
import pandas as pd

In [30]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [31]:
#reading n encoding csv file to read city,states,country
df=pd.read_csv('world-cities_csv.csv',encoding='iso-8859-1')

In [32]:
df['city']=df['city'].str.encode('utf-8').str.decode('ascii','ignore')
df['states']=df['states'].str.encode('utf-8').str.decode('ascii','ignore')

In [33]:
#populating column geoPosition

df.loc[df["country"]=="Andorra","geoPosition"]="Mountain Range"

df.loc[df["country"]=="Niger","geoPosition"]="Desert Land"

df.loc[df["country"]=="Libya","geoPosition"]="Desert Land"

df.loc[df["states"]=="Nevada","geoPosition"]="Desert Land"

df.loc[df["states"]=="Idaho","geoPosition"]="Desert Land"

df.loc[df["states"]=="Utah","geoPosition"]="Desert Land"

df.loc[df["states"]=="Oregon","geoPosition"]="Desert Land"

df.loc[df["states"]=="California","geoPosition"]="Desert Land"

df.loc[df["states"]=="Arizona","geoPosition"]="Desert Land"

df.loc[df["states"]=="New Mexico","geoPosition"]="Desert Land"

df.loc[df["states"]=="Texas","geoPosition"]="Desert Land"

df.loc[df["states"]=="Colorado","geoPosition"]="Desert Land"

df.loc[df["country"]=="Egypt","geoPosition"]="Desert Land"

df.loc[df["country"]=="Sudan","geoPosition"]="Desert Land"

df.loc[df["country"]=="Chad","geoPosition"]="Desert Land"

df.loc[df["country"]=="Tunisia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Algeria","geoPosition"]="Desert Land"

df.loc[df["country"]=="Nigeria","geoPosition"]="Desert Land"

df.loc[df["country"]=="Mali","geoPosition"]="Desert Land"

df.loc[df["country"]=="Morocco","geoPosition"]="Desert Land"

df.loc[df["country"]=="Western Sahara","geoPosition"]="Desert Land"

df.loc[df["country"]=="Mauritania","geoPosition"]="Desert Land"

df.loc[df["country"]=="Eritrea","geoPosition"]="Desert Land"

df.loc[df["country"]=="United Arab Emirates","geoPosition"]="Desert Land"

df.loc[df["country"]=="Kuwait","geoPosition"]="Desert Land"

df.loc[df["country"]=="Iraq","geoPosition"]="Desert Land"

df.loc[df["country"]=="Iran","geoPosition"]="Desert Land"

df.loc[df["country"]=="Qatar","geoPosition"]="Desert Land"

df.loc[df["country"]=="Oman","geoPosition"]="Desert Land"

df.loc[df["country"]=="Yemen","geoPosition"]="Desert Land"

df.loc[df["country"]=="Syria","geoPosition"]="Desert Land"

df.loc[df["country"]=="Saudi Arabia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Romania","geoPosition"]="Desert Land"

df.loc[df["states"]=="Xinjiang Uygur Zizhiqu","geoPosition"]="Desert Land"

df.loc[df["country"]=="Serbia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Spain","geoPosition"]="Desert Land"

df.loc[df["country"]=="Iceland","geoPosition"]="Desert Land"

df.loc[df["country"]=="Jordan","geoPosition"]="Desert Land"

df.loc[df["country"]=="Namibia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Angola","geoPosition"]="Desert Land"

df.loc[df["country"]=="Chile","geoPosition"]="Desert Land"

df.loc[df["country"]=="Peru","geoPosition"]="Desert Land"

df.loc[df["country"]=="Kazakhstan","geoPosition"]="Desert Land"

df.loc[df["country"]=="Turkmenistan","geoPosition"]="Desert Land"

df.loc[df["country"]=="Uzbekistan","geoPosition"]="Desert Land"

df.loc[df["country"]=="Botswana","geoPosition"]="Desert Land"

df.loc[df["country"]=="Mongolia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Somalia","geoPosition"]="Desert Land"

df.loc[df["country"]=="Djibouti","geoPosition"]="Desert Land"

df.loc[df["country"]=="South Africa","geoPosition"]="Desert Land"

df.loc[df["country"]=="Ethiopia","geoPosition"]="Desert Land"

df.loc[df["states"]=="Rajasthan","geoPosition"]="Desert Land"

df.loc[df["city"]=="Alice Springs","geoPosition"]="Desert Land"

df.loc[df["states"]=="Western Australia","geoPosition"]="Desert Land"

df.loc[df["states"]=="Queensland","geoPosition"]="Desert Land"







df["geoPosition"].isnull().sum()

df.loc[df["states"]=="Kansas","geoPosition"]="Plain Land"

df.loc[df["states"]=="Kansas","geoPosition"]="Plain Land"

df.loc[df["states"]=="Montana","geoPosition"]="Plain Land"

df.loc[df["states"]=="North Dakota","geoPosition"]="Plain Land"

df.loc[df["states"]=="Wyoming","geoPosition"]="Plain Land"

df.loc[df["states"]=="Nebraska","geoPosition"]="Plain Land"

df.loc[df["states"]=="North Dakota","geoPosition"]="Plain Land"

df.loc[df["states"]=="Oklahoma","geoPosition"]="Plain Land"

df.loc[df["states"]=="Manitoba","geoPosition"]="Plain Land"

df.loc[df["states"]=="Saskatchewan","geoPosition"]="Plain Land"

df.loc[df["states"]=="Alberta","geoPosition"]="Plain Land"

df.loc[df["country"]=="Tanzania","geoPosition"]="Plain Land"

df.loc[df["country"]=="Kenya","geoPosition"]="Plain Land"

df.loc[df["states"]=="Sahel","geoPosition"]="Plain Land"

df.loc[df["states"]=="Andhra Pradesh","geoPosition"]="Plain Land"

df.loc[df["states"]=="Punjab","geoPosition"]="Plain Land"

df.loc[df["states"]=="Haryana","geoPosition"]="Plain Land"

df.loc[df["states"]=="Uttar Pradesh","geoPosition"]="Plain Land"

df.loc[df["states"]=="Bihar","geoPosition"]="Plain Land"

df.loc[df["states"]=="Assam","geoPosition"]="Plain Land"

df.loc[df["states"]=="Madhya Pradesh","geoPosition"]="Plain Land"

df.loc[df["states"]=="West Bengal","geoPosition"]="Plain Land"

df.loc[df["states"]=="Jharkhand","geoPosition"]="Plain Land"

df.loc[df["states"]=="Gujarat","geoPosition"]="Plain Land"

df.loc[df["states"]=="Karnataka","geoPosition"]="Plain Land"

df.loc[df["states"]=="Odisha","geoPosition"]="Plain Land"

df.loc[df["states"]=="Maharashtra","geoPosition"]="Plain Land"

df.loc[df["states"]=="Telangana","geoPosition"]="Plain Land"

df.loc[df["states"]=="Pondicherry","geoPosition"]="Near the shore"

df.loc[df["states"]=="Tamil Nadu","geoPosition"]="Plain Land"

df.loc[df["city"]=="Cheenai","geoPosition"]="Near the shore"

df.loc[df["city"]=="Mumbai","geoPosition"]="Near the shore"

df.loc[df["city"]=="Thiruvananthapuram","geoPosition"]="Near the shore"

df.loc[df["states"]=="Goa","geoPosition"]="Near the shore"

df.loc[df["city"]=="Puri","geoPosition"]="Near the shore"

df.loc[df["city"]=="Mangalore","geoPosition"]="Near the shore"

df.loc[df["city"]=="Karwar","geoPosition"]="Near the shore"

df.loc[df["city"]=="Alleppey","geoPosition"]="Near the shore"

df.loc[df["city"]=="Visakhapatnam","geoPosition"]="Near the shore"

df.loc[df["states"]=="Andaman and Nicobar Islands","geoPosition"]="Near the shore"

df.loc[df["city"]=="Daman and Diu","geoPosition"]="Near the shore"

df.loc[df["states"]=="New Jersey","geoPosition"]="Near the shore"

df.loc[df["states"]=="Florida","geoPosition"]="Near the shore"

df.loc[df["states"]=="Hawaii","geoPosition"]="Near the shore"

df.loc[df["states"]=="Bali","geoPosition"]="Near the shore"

df.loc[df["country"]=="Indonesia","geoPosition"]="Near the shore"

df.loc[df["states"]=="Massachusetts","geoPosition"]="Near the shore"

df.loc[df["states"]=="Georgia","geoPosition"]="Near the shore"

df.loc[df["states"]=="Maine","geoPosition"]="Near the shore"

df.loc[df["states"]=="Maryland","geoPosition"]="Near the shore"

df.loc[df["states"]=="Pennsylvania","geoPosition"]="Near the shore"

df.loc[df["states"]=="New York","geoPosition"]="Near the shore"

df.loc[df["states"]=="Rhode Island","geoPosition"]="Near the shore"

df.loc[df["states"]=="Virginia","geoPosition"]="Near the shore"

df.loc[df["states"]=="Connecticut","geoPosition"]="Near the shore"

df.loc[df["states"]=="North Carolina","geoPosition"]="Near the shore"

df.loc[df["states"]=="South Carolina","geoPosition"]="Near the shore"

df.loc[df["states"]=="Delaware","geoPosition"]="Near the shore"

df.loc[df["city"]=="Cape Town","geoPosition"]="Near the shore"

df.loc[df["country"]=="Croatia","geoPosition"]="Near the shore"

df.loc[df["city"]=="Copenhagen","geoPosition"]="Near the shore"

df.loc[df["city"]=="Seattle","geoPosition"]="Near the shore"

df.loc[df["city"]=="Boston","geoPosition"]="Near the shore"

df.loc[df["states"]=="New Hampshire","geoPosition"]="Near the shore"

df.loc[df["country"]=="France","geoPosition"]="Near the shore"

df.loc[df["country"]=="Italy","geoPosition"]="Near the shore"

df.loc[df["country"]=="Monaco","geoPosition"]="Near the shore"

df.loc[df["country"]=="Malta","geoPosition"]="Near the shore"

df.loc[df["country"]=="Slovenia","geoPosition"]="Near the shore"

df.loc[df["country"]=="Bosnia and Herzegovina","geoPosition"]="Near the shore"

df.loc[df["country"]=="Federation of Bosnia and Herzegovina","geoPosition"]="Near the shore"

df.loc[df["country"]=="Montenegro","geoPosition"]="Near the shore"

df.loc[df["country"]=="Malaysia","geoPosition"]="Near the shore"

df.loc[df["country"]=="Spain","geoPosition"]="Near the shore"

df.loc[df["states"]=="Ireland","geoPosition"]="Near the shore"

df.loc[df["states"]=="Northern Ireland","geoPosition"]="Near the shore"

df.loc[df["country"]=="United Kingdom","geoPosition"]="Near the shore"

df.loc[df["country"]=="Iceland","geoPosition"]="Near the shore"

df["geoPosition"].isnull().sum()

df.loc[df["country"]=="Japan","geoPosition"]="Near the shore"

df.loc[df["country"]=="Singapore","geoPosition"]="Near the shore"

df.loc[df["country"]=="North Korea","geoPosition"]="Near the shore"

df.loc[df["country"]=="South Korea","geoPosition"]="Near the shore"

df.loc[df["country"]=="Taiwan","geoPosition"]="Near the shore"

df.loc[df["country"]=="Hong Kong","geoPosition"]="Near the shore"

df.loc[df["country"]=="Maldives","geoPosition"]="Near the shore"

df.loc[df["country"]=="Mauritius","geoPosition"]="Near the shore"

df.loc[df["city"]=="Perth","geoPosition"]="Near the shore"

df.loc[df["city"]=="Darwin","geoPosition"]="Near the shore"

df.loc[df["states"]=="Arizona","geoPosition"]="Mountain Region"

df.loc[df["states"]=="Colorado","geoPosition"]="Mountain Region"

df.loc[df["states"]=="Idaho","geoPosition"]="Mountain Region"

df.loc[df["states"]=="Montana","geoPosition"]="Mountain Region"

df.loc[df["states"]=="Alaska","geoPosition"]="Mountain Region"

df.loc[df["states"]=="Washington","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Switzerland","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Sweden","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Austria","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Greece","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Germany","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Norway","geoPosition"]="Mountain Region"

df.loc[df["country"]=="Philippines","geoPosition"]="Near the shore"

df.loc[df["country"]=="Thailand","geoPosition"]="Near the shore"

df.loc[df["states"]=="Hubei","geoPosition"]="Plain Land"

df.loc[df["states"]=="Sichuan","geoPosition"]="Plain Land"

df.loc[df["city"]=="Beijing","geoPosition"]="Plain Land"

df.loc[df["city"]=="Tianjin","geoPosition"]="Plain Land"   

df.loc[df["city"]=="Shijiazhuang","geoPosition"]="Plain Land"

df.loc[df["states"]=="Inner Mongolia","geoPosition"]="Plain Land"

df.loc[df["states"]=="Ningxia Huizu Zizhiqu","geoPosition"]="Plain Land"

df.loc[df["states"]=="Shaanxi","geoPosition"]="Plain Land"

df.loc[df["states"]=="Jiangxi Sheng","geoPosition"]="Plain Land"

df.loc[df["states"]=="North Carolina"]="Hill Station"

df.loc[df["states"]=="New South Wales"]="Hill Station"

#df1=df[df["geoPosition"].notnull()].reset_index(drop=True)

#df1["city"]

In [34]:
from weather import Weather, Unit


df.reset_index(drop=True).head(10)

,city,country,states,geonameid,geoPosition
0,les Escaldes,Andorra,Escaldes-Engordany,3040051,Mountain Range
1,Andorra la Vella,Andorra,Andorra la Vella,3041563,Mountain Range
2,Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,Desert Land
3,Ras al-Khaimah,United Arab Emirates,Ras al Khaymah,291074,Desert Land
4,Khawr Fakkn,United Arab Emirates,Ash Shriqah,291696,Desert Land
5,Dubai,United Arab Emirates,Dubai,292223,Desert Land
6,Dibba Al-Fujairah,United Arab Emirates,Al Fujayrah,292231,Desert Land
7,Dibba Al-Hisn,United Arab Emirates,Al Fujayrah,292239,Desert Land
8,Sharjah,United Arab Emirates,Ash Shriqah,292672,Desert Land
9,Ar Ruways,United Arab Emirates,Abu Dhabi,292688,Desert Land

In [35]:
#populating column weather using yahoo weather api and showing it for 20 cities as it's time extensive task
def valuation_formula(x):
    weather = Weather(unit=Unit.CELSIUS)
    loc=weather.lookup_by_location(x).condition.text
    return loc
dfNew=df.head(19)
dfNew["weather"]=dfNew.head(19).apply(lambda row:valuation_formula(row["city"]),axis=1)

In [36]:
dfNew

,city,country,states,geonameid,geoPosition,weather
0,les Escaldes,Andorra,Escaldes-Engordany,3040051,Mountain Range,Partly Cloudy
1,Andorra la Vella,Andorra,Andorra la Vella,3041563,Mountain Range,Mostly Sunny
2,Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,Desert Land,Cloudy
3,Ras al-Khaimah,United Arab Emirates,Ras al Khaymah,291074,Desert Land,Mostly Cloudy
4,Khawr Fakkn,United Arab Emirates,Ash Shriqah,291696,Desert Land,Mostly Cloudy
5,Dubai,United Arab Emirates,Dubai,292223,Desert Land,Cloudy
6,Dibba Al-Fujairah,United Arab Emirates,Al Fujayrah,292231,Desert Land,Partly Cloudy
7,Dibba Al-Hisn,United Arab Emirates,Al Fujayrah,292239,Desert Land,Cloudy
8,Sharjah,United Arab Emirates,Ash Shriqah,292672,Desert Land,Cloudy
9,Ar Ruways,United Arab Emirates,Abu Dhabi,292688,Desert Land,Mostly Sunny
10,Al Fujayrah,United Arab Emirates,Al Fujayrah,292878,Desert Land,Mostly Cloudy
11,Al Ain,United Arab Emirates,Abu Dhabi,292913,Desert Land,Partly Cloudy
12,Ajman,United Arab Emirates,Ajman,292932,Desert Land,Cloudy
13,Adh Dhayd,United Arab Emirates,Ash Shriqah,292953,Desert Land,Mostly Cloudy
14,Abu Dhabi,United Arab Emirates,Abu Dhabi,292968,Desert Land,Mostly Cloudy
15,Zaranj,Afghanistan,Nmrz,1120985,NaN,Mostly Cloudy
16,Taloqan,Afghanistan,Takhr,1123004,NaN,Cloudy
17,Shnan,Afghanistan,Herat,1125155,NaN,Partly Cloudy
18,Shibirghn,Afghanistan,Jowzjn,1125444,NaN,Breezy

In [37]:
# dropping columns which we don't want to display
dfNew_1=dfNew.drop(['states','geonameid','geoPosition','country'],axis=1)

In [42]:
#grouping cities having same weather condition
dfNew_1.groupby(['weather','city']).count()

Empty DataFrame
Columns: []
Index: [(Breezy, Shibirghn), (Cloudy, Ajman), (Cloudy, Dibba Al-Hisn), (Cloudy, Dubai), (Cloudy, Sharjah), (Cloudy, Taloqan), (Cloudy, Umm al Qaywayn), (Mostly Cloudy, Abu Dhabi), (Mostly Cloudy, Adh Dhayd), (Mostly Cloudy, Al Fujayrah), (Mostly Cloudy, Khawr Fakkn), (Mostly Cloudy, Ras al-Khaimah), (Mostly Cloudy, Zaranj), (Mostly Sunny, Andorra la Vella), (Mostly Sunny, Ar Ruways), (Partly Cloudy, Al Ain), (Partly Cloudy, Dibba Al-Fujairah), (Partly Cloudy, Shnan), (Partly Cloudy, les Escaldes)]

In [39]:
#drooping columns that not want to display
dfNew_2=dfNew.drop(['states','geonameid','geoPosition'],axis=1)

In [40]:
#diplaying a
dfNew_2.groupby(['country','city','weather']).first()

Empty DataFrame
Columns: []
Index: [(Afghanistan, Shibirghn, Breezy), (Afghanistan, Shnan, Partly Cloudy), (Afghanistan, Taloqan, Cloudy), (Afghanistan, Zaranj, Mostly Cloudy), (Andorra, Andorra la Vella, Mostly Sunny), (Andorra, les Escaldes, Partly Cloudy), (United Arab Emirates, Abu Dhabi, Mostly Cloudy), (United Arab Emirates, Adh Dhayd, Mostly Cloudy), (United Arab Emirates, Ajman, Cloudy), (United Arab Emirates, Al Ain, Partly Cloudy), (United Arab Emirates, Al Fujayrah, Mostly Cloudy), (United Arab Emirates, Ar Ruways, Mostly Sunny), (United Arab Emirates, Dibba Al-Fujairah, Partly Cloudy), (United Arab Emirates, Dibba Al-Hisn, Cloudy), (United Arab Emirates, Dubai, Cloudy), (United Arab Emirates, Khawr Fakkn, Mostly Cloudy), (United Arab Emirates, Ras al-Khaimah, Mostly Cloudy), (United Arab Emirates, Sharjah, Cloudy), (United Arab Emirates, Umm al Qaywayn, Cloudy)]